.emptyCard {
    background: #ffffff;
    max-width: 70%;
    padding: 2px 20px 2px 20px ;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(209, 207, 207);
    height: 236px;
    &:hover {
        border: 1px solid rgb(151, 150, 150);
    }
    .emptyCardH1 {
        margin-top: 60px;
        font-weight: bold;
        display: block;
        text-align: center;
    }
    .emptyCardH2 {
        margin-top: 10px;
        display: block;
        text-align: center;
    }
    .emptyCardButton {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 12%;
    }
}

.card {
    background: #ffffff;
    max-height: 200px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(209, 207, 207);
    padding: 20px;
    color: black;
    &:hover {
        border: 1px solid rgb(151, 150, 150);
    }
    .title {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .cardTop {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .title {
            color: rgb(87, 87, 231);
            font-size: 30px;
            font-weight: bold;
            margin-top: auto;
        }
        .logo {
            max-width: 60px;
            max-height: 20px;
            margin-top: auto;
            margin-right: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    ul {
        li{
            overflow: hidden;
            margin-bottom: 10px;
            font-weight: lighter;
        }
        span {
            font-weight: bold;
            padding-right: 10px;
        }
        .description {
            max-height: 64px;
        }
    }
    .cardFooter {
        display: flex;
        margin-left: 65%;
    }
        .hideCard {
            margin-right: 15px;
        }
}
