.button {
    display: block;
    text-decoration: none;
    background-color: #1fc1ec;
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 4px 8px 2px 8px;
    border-color: rgb(35, 161, 161);
    font-weight: bold;
    font-size: 26px;
    &:hover {
        cursor: pointer;
        background-color: #1b9bbe;
    }
    &:active {
        transform: scale(1.1);
    }
    .eye {
        margin-top: 1px;
        padding-right: 3px; 
    }
}