.button {
    text-decoration: none;
    background-color: #1fc1ec;
    color: white;
    border-radius: 5px;
    padding: 2px 4px 1px 4px;
    border-color: rgb(35, 161, 161);
    font-weight: bold;
    display: flex;
    &:hover {
            cursor: pointer;
            background-color: #1b9bbe;
    }
    &:active {
            transform: scale(1.1);
    }
    .editLine {
        margin-right: 2px;
    }
}