body {
    font-size: 17px;
}
.header {
    width: 70%;
    border: 1px solid rgb(151, 150, 150);
    background: #ffffff;
    margin: 40px auto 0px auto;
    padding: 20px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    .headerRight {
        display: flex;
        .EditButton {
            margin-right: 20px;
        }
    }
}

.jobCard {
    background: #ffffff;
    min-height: 400px;
    width: 70%;
    margin: 0px auto 40px auto;
    border: 1px solid rgb(151, 150, 150);
    padding: 20px;
    color: black;
    &:hover {
        cursor: default;
    }    
    .cardTop {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        .title {
            font-size: 30px;
            font-weight: bold;
            margin-top: auto;
        }
        .logo {
            max-width: 10%;
            max-height: 10%;
            margin-top: auto;
            margin-right: 60px;
            margin-top: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    ul {
        li{
            margin-bottom: 20px;
            .comnyInfo{
                font-weight: 400;
                margin-left: 20px;
                margin-top: 5px;
                opacity: 0.8;
            }
            span {
                margin-bottom: 10px;
                opacity: 0.6;
                font-weight: 400;
            }
        }
        .li {
            font-weight: bold;
        }
        h2{
            margin-bottom: 10px;
        }
    }
}