@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

body {
    background: rgb(201, 255, 255);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

ul {
  list-style: none;
}

