.container {
    background-color: white;
}

.cardConteiner{
    border: 1px solid rgb(209, 207, 207);
    background-color: rgb(245, 245, 245);
    margin: 0 25% 30px 25%;
    padding: 30px 40px 30px 40px;
    font-family: 'Inter';
    h2 {
        margin-bottom: 25px;
    }
    form {
        input, textarea, label {
            display: block;
            border-radius: 5px;
            width: 100%;
            padding-left: 10px;
            margin-bottom: 5px;
            span {
                color: red;
            }
        }
        input {
            border: 1px solid rgb(209, 207, 207);
            height: 40px;
            font-size: 15px;
            font-family: 'Inter';
        }
        textarea {
            border: 1px solid rgb(209, 207, 207);
            height: 120px;
            resize: none;
            padding-top: 10px;
            font-size: 15px;            
            font-family: 'Inter';
        }
        label {
            font-weight: bold;
        }
        * {
            div {
                color: red;
                margin-left: 10px;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
        .file {
            margin-bottom: 20px;
        }
    }    
}


.Link {
    display: block;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    background-color: #1fc1ec;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(209, 207, 207);
    border-radius: 5px;
    width: 54px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
            cursor: pointer;
            background-color: #1b9bbe;
    }
    &:active {
            transform: scale(1.1);
    }
}