.container {
    text-decoration: none;
    .img{
        display: block;
        max-height: 100%;
        margin: 10% auto 0 auto;
    }
    .notFound {
        display: block;
        max-width: 210px;
        font-size: 30px;
        margin: 10% auto 0 auto;
    }
    .link {
        display: block;
        max-width: 125px;
        margin: 30px auto 0 auto;
        background-color: #1fc1ec;
        color: white;
        border-radius: 10px;
        padding: 4px 8px 4px 8px;
        border-color: rgb(35, 161, 161);
        font-weight: bold;
        font-size: 28px;
        border: 1px solid rgb(45, 141, 158);
        &:hover {
            cursor: pointer;
            background-color: #1b9bbe;
        }
        &:active {
            transform: scale(1.1);
        }
    }
}